aside {
  border-right: 1px solid #E0E4EB;
}

.aside_container {
  padding: 0 32px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 70px 0;
}
.logo__img {
  width: 75px;
  height: 25px;
}

.custom-sc {
  border-bottom: 1px solid #E0E4EB;
  padding-bottom: 25px;
}
.custom-sc__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.custom-sc__input {
  width: 166px;
  height: 31px;
  padding: 6px 8px;
  background: #F6F7F9;
  border: 1px solid #E0E4EB;
  border-radius: 4px;
  margin: 15px 0;
  outline: none;
}
.custom-sc input::-moz-placeholder {
  width: 150px;
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #52627A;
  border: none;
}
.custom-sc input::placeholder {
  width: 150px;
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #52627A;
  border: none;
}
.custom-sc__ul {
  list-style: none;
}
.custom-sc__ul li {
  margin-bottom: 12px;
}
.custom-sc__ul li input[type=checkbox] {
  display: none;
}
.custom-sc__ul li label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.custom-sc__ul li label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #F6F7F9;
  border: 1px solid #C2CAD6;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.custom-sc__ul li input[type=checkbox]:checked + label:before {
  background-image: url("../icons/checked.svg");
}
.custom-sc__more-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #1E32E1;
  text-decoration: none;
  display: flex;
  gap: 5px;
}

.product {
  border-bottom: 1px solid #E0E4EB;
  padding: 25px;
}
.product__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.product__input {
  width: 166px;
  height: 31px;
  padding: 6px 8px;
  background: #F6F7F9;
  border: 1px solid #E0E4EB;
  border-radius: 4px;
  margin: 15px 0;
  outline: none;
}
.product input::-moz-placeholder {
  width: 150px;
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #52627A;
  border: none;
}
.product input::placeholder {
  width: 150px;
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #52627A;
  border: none;
}
.product__ul {
  list-style: none;
}
.product__ul li {
  margin-bottom: 12px;
}
.product__ul li input[type=checkbox] {
  display: none;
}
.product__ul li label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.product__ul li label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #F6F7F9;
  border: 1px solid #C2CAD6;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.product__ul li input[type=checkbox]:checked + label:before {
  background-image: url("../icons/checked.svg");
}
.product__more-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #1E32E1;
  text-decoration: none;
  display: flex;
  gap: 5px;
}

.business-type {
  border-bottom: 1px solid #E0E4EB;
  padding: 25px;
}
.business-type__title {
  width: 166px;
  margin-bottom: 14px;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.business-type__ul {
  list-style: none;
}
.business-type__ul li {
  margin-bottom: 12px;
}
.business-type__ul li input[type=checkbox] {
  display: none;
}
.business-type__ul li label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.business-type__ul li label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #F6F7F9;
  border: 1px solid #C2CAD6;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.business-type__ul li input[type=checkbox]:checked + label:before {
  background-image: url("../icons/checked.svg");
}

.device {
  border-bottom: 1px solid #E0E4EB;
  padding: 25px;
}
.device__title {
  width: 166px;
  margin-bottom: 14px;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.device__ul {
  list-style: none;
}
.device__ul li {
  margin-bottom: 12px;
}
.device__ul li input[type=checkbox] {
  display: none;
}
.device__ul li label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.device__ul li label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #F6F7F9;
  border: 1px solid #C2CAD6;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.device__ul li input[type=checkbox]:checked + label:before {
  background-image: url("../icons/checked.svg");
}

.country {
  border-bottom: 1px solid #E0E4EB;
  padding: 25px;
}
.country__title {
  width: 166px;
  margin-bottom: 14px;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.country__ul {
  list-style: none;
}
.country__ul li {
  margin-bottom: 12px;
}
.country__ul li input[type=checkbox] {
  display: none;
}
.country__ul li label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.country__ul li label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #F6F7F9;
  border: 1px solid #C2CAD6;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.country__ul li input[type=checkbox]:checked + label:before {
  background-image: url("../icons/checked.svg");
}
.country__more-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #1E32E1;
  text-decoration: none;
  display: flex;
  gap: 5px;
}

.main-container {
  padding: 0 40px;
}

nav {
  padding-top: 19px 0;
  height: 70px;
  border-bottom: 1px solid #E0E4EB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav .menu-list {
  list-style: none;
  display: flex;
  height: 32px;
  align-items: center;
}
nav .menu-list__link {
  border-right: 1px solid #E0E4EB;
  padding: 0 32px;
}
nav .menu-list__link a {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #1E32E1;
  text-decoration: none;
}
nav .menu-list__link .link-with-icon {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
nav .menu-list__link:first-child {
  padding-left: 0;
}
nav .menu-list__link:last-child {
  border: none;
  padding-right: none;
}
nav .right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .right-side .user {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E0E4EB;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 32.5px;
}
nav .right-side .language {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding-left: 32.5px;
  border-left: 1px solid #E0E4EB;
  height: 100%;
}
nav .right-side .language__link {
  display: inline-flex;
  vertical-align: center;
  gap: 8px;
  text-decoration: none;
  color: #14181F;
}

.home {
  margin-top: 50px;
}
.home__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #14181F;
}
.home__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #14181F;
  padding: 40px 0 34px 0;
}
.home__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.home__cards .card {
  width: 380px;
  height: 310px;
}
.home__cards .card__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  align-items: center;
  letter-spacing: -0.01em;
  color: #1E32E1;
  text-decoration: none;
  display: block;
  padding-top: 6px;
}
.home__cards .card__descr {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #14181F;
}
.home__cards .card__subdescr {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #52627A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 228px auto;
}/*# sourceMappingURL=style.css.map */